.darkBlueBg{
  background: radial-gradient(294.57% 265.53% at 215.89% 0%, #0A1027 0%, #232262 100%);
}

.textDarkBlue{
  color: #0A1027;
}

.minceText{
font-family: Poppins;
font-size: 23px;
font-style: normal;
font-weight: 500;
line-height: normal;
background: linear-gradient(248deg, #0A1027 -192.62%, #5547D7 85.3%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.logoMince{
width: 50.001px;
height: 40px;
flex-shrink: 0;
}